.accordions{
    &__box {
        display: flex;
        flex-direction: column;
    }

    &__btns {
        display: flex;

        &--column {
            flex-direction: column;
        }
    }
    
    &__tile {
        flex: 1;
        margin: 1.5em 0;
        
        &--one {
            display: flex;
            flex-direction: column;
        }

        &-btn {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            padding: 1em;
            font-size: 1.4rem;
            margin: 0;
            border: none;
            background-color: transparent;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 90%, 65% 100%, 0 100%);
            &--active {
                 color: $white;
                 background: linear-gradient(115deg, rgba(51, 40, 121, 1) 0%, rgba(55, 39, 121, 1) 60%, rgba(173, 12, 122, 1) 100%);
                 &:hover {
                    color: $white;
                    background: linear-gradient(115deg, rgba(51, 40, 121, 1) 0%, rgba(55, 39, 121, 1) 45%, rgba(173, 12, 122, 1) 75%, rgba(173, 12, 122, 1) 100%);
                }
            }
        }
        &--two {
            position: relative;
            img {
                width: 100%;
            }
        }
    }
}

.accordion {
    margin-top: 5rem;
    
    display: flex;
    flex-direction: column;
    
    &__tile {
        border-left: 3px solid $grey;
        padding-left: 1em;
        margin-bottom: 1em;
        transition: border-left .5s ease;
    }
    
    &__btn {
        font-size: 1.9rem;
        font-weight: bold;
        color: $grey-two;
        cursor: pointer;
        transition: color .5s ease;
    }
    
    // &__left {
        
    //     margin-right: 1rem;
    //     &-bar {
        //         width: 2px;
        //         height: 40px;
    //         background-color: $grey-two;
    //     }
    // }    
    
    &__info {
        overflow: hidden;
        max-height: 0px;

        transition: max-height .5s ease;

        &-text {
            font-size: 1.6rem;
        }
    }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .accordions {
        &__tile {
            &-btn {
                font-size: 1.8rem;
            }
        }
        
        &__btns {
            &--column {
                flex-direction: row;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .accordions {
        &__box {
            flex-direction: row;
        }
        
        &__tile {
            &--two {
                img {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
    
    .accordion {
        &__btn {
            font-size: 2.5rem;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


.active{
    max-height: 200px;
}

.active-two {
    color: $black;
}

.active-three {
    border-left : 3px solid $black;
}
