.footer {
    &__bottom {
        padding-bottom: 2em;
        // &-left{}
        // &-mid{}
        // &-right{}

        &--wrapper {
            display: flex;
            flex-direction: column;
        }

        &-tile {

            &--one {
                img {
                    display: block;
                    height: 80px;
                    margin: 0 auto;
                }
            }

            &--two {
                margin: 3em auto;

                a {

                    margin: 0 0.5em;
                    color: $black;
                    border-radius: 50%;
                    padding: 1.5em;
                    border: 1px solid $grey;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    
                }

                
            }

            &--nav {
                a {
                    color: $black;
                    font-weight: bold;
                }

                ul {
                    padding: 0;

                    li {
                        list-style-type: none;

                        a {
                            font-weight: normal;
                        }
                    }
                }
            }

            &--three {
                ul {
                    padding: 0;

                    li {
                        list-style-type: none;

                        a {
                            color: $grey-two;
                        }
                    }
                }

            }

        }

    }

    &__bar {
        &-text {
            font-size: 1.8rem;
            color: $grey-two;
        }
    }


}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .footer {
        &__bottom {
            // &--wrapper {

            //     // flex-wrap: wrap;
            //     background-color: rgb(27, 27, 27);
            // }

            &-left{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }
            &-mid {
                display: flex;
            }

            // &-right{}

            &-tile {
                &--one {
                    img {
                        margin-left: 0;
                    }
                }

                &--two {
                    margin-left: 0;
                }
                &--nav {
                    margin: 0 1em;
                }

                &--three {
                    margin: 2em 0;
                    width: 100%;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1620px) {
    .footer {
        &__bottom {
            &--wrapper {
                flex-direction: row;
            }

            &-left {
                flex: 1;
            }

            &-mid {
                flex:1.6;
                flex-wrap: wrap;
                align-items: flex-end;
            }

            &-right {
                flex: 1;
            }

            &-tile {
                &--one {
                    
                    img {
                        // width: 100%;
                        height: 100px;
                    }
                }

                &--two {
                    margin: 0 0 2em 0;
                }

                &--nav {
                    margin: 2em 4em 0 4em;
                }

                &--three { margin: 0 1.5em;}
            }
        }
        &__bar--wrapper {
            margin-top: 2em;
        }
    }
}