.footer {
    &__top {
        position: relative;
        background: linear-gradient(115deg, rgba(51, 40, 121, 1) 0%, rgba(55, 39, 121, 1) 45%, rgba(173, 12, 122, 1) 75%, rgba(173, 12, 122, 1) 100%);
        // overflow: hidden;

        &--wrapper {
            display: flex;
            flex-direction: column;
        }

        &-left {
           margin: 3em 0;
            img {
            
                width: 100%;
            }
           
        }

        &-right {
            margin-bottom: 3em ;
            //  img {
             
            //      width: 100%;
            //  }

            a {
                &:hover{
                    color: $pink;
                }
                transition: color .3s ease;
                img {
                    transition: filter .3s ease;
                }
                &:hover img {
                    filter: invert(16%) sepia(89%) saturate(6944%) hue-rotate(319deg) brightness(88%) contrast(104%);
                    
                }
            }
         }
    }

    &__bottom {
        padding-bottom: 0;

        &--wrapper {
            display: flex;
            flex-direction: column;
        }

        &-left {
            a {
                img {
                    height: 90px;
                }
            }
        }

        &-tile {
            &--one {
                display: flex;
                flex-direction: row;
                margin: 1em 0;

                a {
                    &:first-child {
                        margin-left: 0;
                    }

                    border-radius: 50%;
                    padding: .5em;
                    border: 1px solid $black;
                    margin: 0 .3em;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    &:hover {
                        filter: invert(16%) sepia(89%) saturate(6944%) hue-rotate(319deg) brightness(88%) contrast(104%);
                    }

                    transition: filter .3s ease;
                }
            }

            &--nav,
            &--two {

                a {
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                        color: $black;
                    }
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        a {
                            color: $black;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    &__bar {
        margin: .5em 0 1.5em 0;
        font-size: 1.8rem;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .footer {
        &__top {
    
            &--wrapper {
                justify-content: center;
                flex-direction: row;
            }
            
            &-left {
                // position: absolute;
                // margin-bottom: 0;
                // top: 0;

                 img {
                 
                     width: 100%;
                     margin: -3em 0 3em 0;
                 }
                margin: 0;
             }

             &-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                margin:0 0 0 2em;
             }
        }
        &__bottom {

            &-mid {
                display: flex;
                flex-wrap: wrap;
            }

            &-tile {
                &--nav {
                    flex: 1;
                    margin: 1em;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .footer {
        &__top {
            // overflow-y: visible;
            // overflow-x: hidden;
            &-left {
               overflow: visible;
                flex: 2;
                img {
                    // position: absolute;
                   width:70%;
                }
            }
            &-right {
                flex: 3;
            }
        } 
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .footer {
        &__bottom {
            &-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &--wrapper {
                flex-direction: row;
            }

            &-mid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem 5rem;
                margin: 0 10rem 0 15rem;
            }


        }
    }
}